{% include 'micron/tmpl-htmlheader.html.tmpl' %}
{% include 'micron/tmpl-bodyheader.html.tmpl' %}
{% include 'micron/tmpl-corecontent.html.tmpl' %}
{% include 'micron/tmpl-bodyfooter.html.tmpl' %}
{% include 'micron/tmpl-htmlfooter.html.tmpl' %}
