<footer>
    <div class="remark primary cell-12" style="background: rgb(225,228,231);padding-bottom: 3em;">
        <p>
            <strong>
                Micron just wants to know what worked for you and what could use improvement - it matters to the Canadian government. 
            </strong>
            <span>
                Want to see how we built micron? Check out our <a href="https://github.com/DIS-SIN/Micron">github repository for the code</a>. It's small, and we got it running in a few hours.
            </span>
        </p>
    </div>
</footer>
